---
layout: default
title: About
permalink: /about/
include_in_nav: true
body-color: my-black lighten-2
---

<div class="container white-text"><div class="row">

	<div class="col xl3 l4 m5 s6"><div class="my-vector-block valign-wrapper">
		<img src="/assets/images/vector/trans-symbol.svg"/>
	</div></div>

	<div class="col xl9 l8 m7 s6"><div class="my-text-block valign-wrapper"><div class="valign">
		<h1>History</h1>
		<p>{% include_relative about/history.md %}</p>
	</div></div></div>

</div></div>



<div class="parallax-container"><div class="parallax">
	<img src="/assets/images/parallax-2.png"/>
</div></div>



<div class="container white-text"><div class="row">

	<div class="col xl3 l4 m5 s6"><div class="my-vector-block valign-wrapper">
		<img src="/assets/images/vector/trans-symbol.svg"/>
	</div></div>

	<div class="col xl9 l8 m7 s6"><div class="my-text-block valign-wrapper"><div class="valign">
		<h1>Mission</h1>
		<p>{% include_relative about/mission.md %}</p>
	</div></div></div>

</div></div>



<div class="parallax-container"><div class="parallax">
	<img src="/assets/images/parallax-1.png"/>
</div></div>



<div class="container white-text"><div class="row">

	<div class="col xl9 l8 m7 s6"><div class="my-text-block valign-wrapper"><div class="valign">
		<h2>Unify</h2>
		<p>{% include_relative about/unify.md %}</p>
	</div></div></div>

	<div class="col xl3 l4 m5 s6"><div class="my-vector-block valign-wrapper">
		<img src="/assets/images/vector/unify.svg"/>
	</div></div>

</div></div>



<div class="container white-text"><div class="row">

	<div class="col xl9 l8 m7 s6"><div class="my-text-block valign-wrapper"><div class="valign">
		<h2>Reclaim</h2>
		<p>{% include_relative about/reclaim.md %}</p>
	</div></div></div>

	<div class="col xl3 l4 m5 s6"><div class="my-vector-block valign-wrapper">
		<img src="/assets/images/vector/reclaim.svg"/>
	</div></div>

</div></div>



<div class="container white-text"><div class="row">

	<div class="col xl9 l8 m7 s6"><div class="my-text-block valign-wrapper"><div class="valign">
		<h2>Empower</h2>
		<p>{% include_relative about/empower.md %}</p>
	</div></div></div>

	<div class="col xl3 l4 m5 s6"><div class="my-vector-block valign-wrapper">
		<img src="/assets/images/vector/trans-symbol.svg"/>
	</div></div>

</div></div>
