---
layout: page
title: Blog
permalink: /blog/
include_in_nav: true
pagination:
  enabled: true
---

{% assign posts_by_author = site.posts | group_by:"author" %}

<div class="section">
	<div class="row">
		<div class="my-blog-container col s12 m9 l9 xl9">
			{% for post in paginator.posts %} {% include blog-post.html post=post %} {% endfor %}
			<div class="center-align">
				{% include paginator-nav.html paginator=paginator %}
			</div>
		</div>
		<div class="my-blog-sidebar col s12 m3 l3 xl3">
			{% include blog-sidebar.html %}
		</div>
	</div>
</div>
