---
layout: page
title: Projects
permalink: /projects/
include_in_nav: true
---
<div class="section">
	{% for project in site.projects %}
	<div class="row">
		{% include project-card.html project = project %}
	</div>

		<!-- <div class="my-member my-project row my-bg darken-1 row">
			<div class="my-content col">
				<div class="my-header"><h5>{{ project.name }}</h5></div>
				<div class="divider"></div>
				<div class="my-description">{{ project.content }}</div>
				{% if project.email != null %}
				<div class="divider"></div>
				{% endif %}

			</div>
		</div> -->
	{% endfor %}
</div>
