---
layout: page
title: Team
permalink: /team/
include_in_nav: true
---

<h2>
	Structure
</h2>
{% include_relative team/structure.md %}

<h2>Our Team</h2>
{% for person in site.people %}
	<div class="row">
		{% include person-card.html person = person %}
	</div>
{% endfor %}

<h2>Member Organizations</h2>
{% assign member_orgs = site.orgs | where : "member_org","true" %}
{% for org in member_orgs %}
	<div class="row">
		{% include org-card.html org = org %}
	</div>
{% endfor %}

<h2>Our Extended Family</h2>
{% assign other_orgs = site.orgs | where : "member_org","false" %}
{% for org in other_orgs %}
	<div class="row">
		{% include org-card.html org = org %}
	</div>
{% endfor %}
