---
layout: page
title: Team
permalink: /team/
---
<h2> Structure </h2>
We are a parallel platform of leaders from other transgender led projects. We operate on consensus and understand that we must not replicate the systems of marginalization that we seek to oppose. We function, in part, as a project that can be used by all as an organizing tool to energize other projects. But also as an incubator for anything that improves the lives of Baltimore's transgender population.
Come talk with us about how we can work together to empower our community!

<h2>Our Team</h2>
{% for person in site.people %}
	<div class="row">
		{% include person-card.html person=person %}
	</div>
{% endfor %}

<h2>Member Organizations</h2>
{% assign member_orgs = site.orgs | where: "member_org", "true" %}
{% for org in member_orgs %}
	{% include org-card.html org=org %}
{% endfor %}

<h2>Our Family</h2>
{% assign other_orgs = site.orgs | where: "member_org", "false" %}
{% for org in other_orgs %}
	{% include org-card.html org=org %}
{% endfor %}

<!-- <h2>Member Organizations</h2>
{% for member_org in site.orgs %}
		<div class="my-member my-member-org row my-bg darken-1">
			<div class="my-avatar-container col xl2 l2 m2 s4">
				<img class="my-avatar" src="/assets/images/member_organizations/{{ member_org.shortname }}.png">
			</div>
			<div class="my-content col xl10 l10 m10 s8">
				<div class="my-header"><h5>{{ member_org.name }}</h5></div>
				<div class="divider"></div>
				<div class="my-description">{{ member_org.content }}</div>
				{% if member_org.website or member_org.facebook or member_org.email %}
				<div class="divider"></div>
				{% endif %}
				{% if member_org.website != null %}
				<div class="my-website"><i class="mdi mdi-earth"></i><a href="{{ member_org.website }}"> {{ member_org.website }}</a></div>
				{% endif %}
				{% if member_org.facebook != null %}
				<div class="my-facebook"><i class="mdi mdi-facebook-box"></i><a href="{{ member_org.facebook }}"> {{ member_org.facebook }}</a></div>
				{% endif %}
				{% if member_org.email != null %}
				<div class="my-facebook"><i class="mdi mdi-email"></i><a href="mailto:{{ member_org.email }}"> {{ member_org.email }}</a></div>
				{% endif %}
			</div>
		</div>
{% endfor %} -->
