{% assign num = include.album.images | size %}
<div class="my-album-thumbs z-depth-2 my-black lighten-1">
	{% if num >= 3 %}
		<div class="my-thumb my-thumb-4"><img src="{{head | append: t1 | append: include.album.images[0].public_id | append: "." | append: include.album.images[0].format}}"/></div>
		<div class="my-thumb my-thumb-4"><img src="{{head | append: t1 | append: include.album.images[1].public_id | append: "." | append: include.album.images[1].format}}"/></div>
		<div class="my-thumb my-thumb-4"><img src="{{head | append: t1 | append: include.album.images[2].public_id | append: "." | append: include.album.images[2].format}}"/></div>
		<div class="my-thumb my-thumb-4"><img src="{{head | append: t1 | append: include.album.images[3].public_id | append: "." | append: include.album.images[3].format}}"/></div>
	{% endif %}
	{% if num == 2 %}
	{% endif %}
	{% if num == 1 %}
		<div class="my-thumb my-thumb-1">
			<img src="{{head | append: t1 | append: include.album.images[0].public_id | append: "." | append: include.album.images[0].format}}"/>
		</div>
	{% endif %}
	<div class="my-content">
		<a href="/albums/{{include.album.key}}" class="my-title white-text">
			{{ include.album.title }}
		</a>
	</div>
</div>
