<div class="section">
	<h5>Posts by Authors</h5>
	<ul>
		{% capture authors %}
			{% for person in site.people %}
				{% assign authors_posts = site.posts | where_exp:"post","post.author == person.shortname" %}
				{% if authors_posts.size >= 1 %}
					<li data-sort="{{ site.posts.size | minus: authors_posts.size | prepend: '0000' | slice: -4, 4 }}">
						<a href="/blog/authors#{{ person.shortname }}">{{ person.name }} <span>({{ authors_posts.size }})</span></a>
					</li>
				{% endif %}
			{% endfor %}
		{% endcapture %}
		{{ authors | split:'</li>' | sort | join:'</li>' }}
		<li>
			<a href="/blog/authors">All Posts by Authors</a>
		</li>
	</ul>
</div>
<div class="divider"></div>

<div class="section">
	<h5>Posts by Tags</h5>
	<ul>
		{% capture tags %}
			{% for tag in site.tags %}
				<li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
					<a href="/{{ site.tag_page_dir }}/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }} <span>({{ tag[1].size }})</span></a>
				</li>
			{% endfor %}
		{% endcapture %}
		{{ tags | split:'</li>' | sort | join:'</li>' }}
		<li>
			<a href="/blog/tags">All Posts by Tags</a>
		</li>
	</ul>
</div>
