<footer class="page-footer my-black lighten-1 z-depth-2">
	<div class="container">
		<div class="row">

			<div class="col l8 s12">
				<h5 class="white-text">{{ site.title }}</h5>
				<p class="grey-text text-lighten-4">
					{{ site.summary }}
				</p>
				{% for line in site.address %}
					{{ line }}<br/>
				{% endfor %}
			</div>

			<div class="col l2 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					{% for link in site.data.sociallinks %}
						<li>
							<i class="mdi {{ link.icon }}"></i>
							<a class="white-text" href="{{ link.link }}">{{ link.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col l2 s12">
				<h5 class="white-text">Links</h5>
				{% for link in site.data.navlinks %}
					<li>
						<a class="white-text" href="{{ link.link }}">{{ link.title }}</a>
					</li>
				{% endfor %}
			</div>

		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div>
				{{ site.company }}
				<span style="text-align: right; float: right">
				Copyright © {{ site.copyright_year }}
				</span>
			</div>
		</div>
	</div>
</footer>
