  <footer class="page-footer my-black lighten-1 z-depth-2">
	<div class="container">
	  <div class="row">
		<div class="col l10 s12">
		  <h5 class="white-text">{{ site.title }}</h5>
		  <p class="grey-text text-lighten-4">We work to uplift the voices of transgender and gender non-conforming people in Baltimore City and continually center our community’s needs in broader political conversations.</p>
		</div>
		<div class="col l2 s12">
		  <h5 class="white-text">Connect</h5>
		  <ul>
			<li><i class="mdi mdi-twitter-box"></i> <a class="white-text" href="https://twitter.com/alliancebmore">Twitter</a></li>
			<li><i class="mdi mdi-facebook-box"></i> <a class="white-text" href="https://facebook.com/bmoretransalliance">Facebook</a></li>
			<li><i class="mdi mdi-instagram"></i> <a class="white-text" href="https://www.instagram.com/bmoretransalliance/">Instagram</a></li>
			<li><i class="mdi mdi-linkedin-box"></i> <a class="white-text" href="https://www.linkedin.com/company/25000745/">LinkedIn</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div>
				The Baltimore Transgender Alliance
				<span style="text-align: right; float: right">
				Copyright © 2017
				</span>
			</div>
		</div>
	</div>
</footer>
