<nav class="my-header my-black" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">{% include logo-text.html %}</a>

		<ul class="my-nav-links right hide-on-med-and-down">
			{% for link in site.data.navlinks %}
				<li><a class="my-link" href="{{ link.link | relative_url }}">{{ link.title | escape }}</a></li>
			{% endfor %}
		</ul>

		<ul id="nav-mobile" class="side-nav">
			{% for link in site.data.navlinks %}
				<li><a href="{{ link.link | relative_url }}">{{ link.title | escape }}</a></li>
			{% endfor %}
		</ul>

	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi mdi-menu"></i></a>
	</div>
</nav>
