{% assign head = "https://res.cloudinary.com/" | append: site.cloud_name | append: "/" %}
{% assign t1 = "x_" | append: i.lrg_grid.crop.left | append: ",y_" | append: i.lrg_grid.crop.top | append: ",w_" | append: i.lrg_grid.crop.width | append: ",h_" | append: i.lrg_grid.crop.height | append: ",c_crop/" %}
{% assign t2 = "w_1200,c_scale/" %}
<!-- {% assign watermark = "l_black_bar,g_south,w_" | append: i.lrg_grid.crop.width | append: ",h_72,o_60/" | append: "l_text:roboto_" | append: wm_font_s | append: ":" | append: "Photographer: " | append: i.artist | append: ",g_south_west,x_0.02,y_0.02,co_white/" %} -->
{% assign tail = i.public_id | append: "." | append: i.format %}
{% assign src = head | append: t1 |  append: t2 | append: tail %}
