// import stuff that needs to go before materialize then materialize
@import "variables";
@import "materialize/materialize";

// import everything else
@import "layout/header";

@import "components/latest-posts";
@import "components/parallax";

@import "pages/home";
@import "pages/post";
@import "pages/about";
@import "pages/resources";
@import "pages/gallery";

@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
		-webkit-font-smoothing: antialiased;
}

h1.page-title {
		font-weight: 500;
		font-size: 2.3em;
		text-align: center;
}

.collection .collection-item.avatar {
		padding-right: 30px;
}

.txt-center {
		text-align: center;
}

.my-page-title {
	font-size: 48px;
}

.my-top-nav {
	height: 122px;
	line-height: 122px;
}
