.my-social-share {
	color: white !important;
	// margin-top: .5rem;
}

.my-social-share .facebook {
	background-color: #3b5998;
}

.my-social-share .twitter {
	background-color: #00aced;
}

.my-social-share .google-plus {
	background-color: #d34836
}

.my-social-share .linkedin {
	background-color: #0077B5
}

.my-social-share .tumblr {
	background-color: #35465c;
}
