---
layout: default
---
{% assign xl_width = "1200" %}
{% assign l_width = "1080" %}
{% assign m_width = "840" %}
{% assign s_width = "600" %}
{% assign wm_font_s = "24" %}

{% include top-nav.html title=page.title %}
<div class="container my-album-grid">
	{% for i in page.images %}
		<div class="my-grid-col w-{{i.lrg_grid.ratio_w}} off-{{i.lrg_grid.offset}}" style="order:{{i.lrg_grid.order}};">
			{% assign head = "https://res.cloudinary.com/" | append: site.cloud_name | append: "/" %}
			{% assign t1 = "x_" | append: i.lrg_grid.crop.left | append: ",y_" | append: i.lrg_grid.crop.top | append: ",w_" | append: i.lrg_grid.crop.width | append: ",h_" | append: i.lrg_grid.crop.height | append: ",c_crop/" %}
			{% assign t2 = "w_1200,c_scale/" %}
			{% assign watermark = "l_text:roboto_" | append: wm_font_s | append: ":" | append: "Photographer: " | append: i.artist | append: ",g_south_west,x_0.02,y_0.02,co_white/" %}
			{% assign tail = i.public_id | append: "." | append: i.format %}
			{% assign src = head | append: t1 |  append: t2 |  append: watermark | append: tail %}
			<img class="materialboxed" src="{{src}}"/>
		</div>
	{% endfor %}
</div>
