---
layout: default
---
{% assign xl_width = "1200" %}
{% assign l_width = "1080" %}
{% assign m_width = "840" %}
{% assign s_width = "600" %}
{% assign wm_font_s = "24" %}

{% include top-nav.html title=page.title %}
<div class="container my-album-grid hide-on-med-and-down">
	{% for i in page.images %}
		<div class="my-grid-col w-{{i.lrg_grid.ratio_w}} h-{{i.lrg_grid.ratio_h }} off-{{i.lrg_grid.offset}}" style="order:{{i.lrg_grid.order}};">
			{% include lrg-grid-img-src.html image = i %}
			<img class="materialboxed" src="{{src}}"/>
		</div>
	{% endfor %}
</div>

<div class="container my-sm-album-grid hide-on-large-only">
	<div class="my-col">
		{% for i in page.images %}
			{% if i.sm_grid.col == 0 %}
				{% include sm-grid-img-src.html image = i %}
				<div class="my-row h-{{i.sm_grid.ratio_h }}" style="order:{{i.sm_grid.order}};">
					<img class="" src="{{src}}"/>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="my-col ">
		{% for i in page.images %}
			{% if i.sm_grid.col == 1 %}
				{% include sm-grid-img-src.html image = i %}
				<div class="my-row h-{{i.sm_grid.ratio_h }}"  style="order:{{i.sm_grid.order}};">
					<img class="" src="{{src}}"/>
				</div>
			{% endif %}
		{% endfor %}
	</div>

</div>
