---
layout: default
---
{% include top-nav.html title=page.name %}
<div class="container">
	<div class="section">
		<div class="my-person-container">
			<div class="my-avatar-block">
				<img class="my-bg darken-1" src="https://res.cloudinary.com/{{ site.cloud_name }}/w_400,h_400,c_pad,b_auto:border/{{ page.cloudinary_image }}"/>
			</div>
			<div class="my-text-block">
				<div class="my-info my-position"><i class="mdi mdi-account"></i> {{ page.position }}</div>
				<div class="my-info my-pronouns"><i class="mdi mdi-message"></i> {{ page.pronouns }}</div>
				<div class="my-info my-phone"><i class="mdi mdi-phone"></i> {{ page.phone }}</div>
				<div class="my-info my-email"><i class="mdi mdi-email"></i> <a href="mailto:{{ page.email }}"> {{ page.email }}</a></div>
			</div>
		</div>
	</div>
	{% assign posts_by_author = site.posts | where_exp:"post","post.author == page.shortname" %}
	<div class="divider"></div>
	<div class="section">
		{{ content }}
	</div>

</div>
{% if posts_by_author.size >= 1 %}
	<div class="container">
		<h5>Latest Posts by {{ page.name }}</h5>
	</div>
	<div class="my-bg darken-2">
		<div class="container my-latest-posts">
			{% include latest-posts.html posts=posts_by_author %}
			<a class="right-align my-light-blue-text" href="/blog/authors#{{ page.shortname }}">View all posts by {{page.name}}...</a>
		</div>
		<div class="container">

		</div>
	</div>
{% endif %}
